/* Navbar.css */

.navbar {
  background-color: #38ada9;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar p {
  font-size: 22px;
  margin: 0;
}

.navbar button {
  padding: 0.5em 1em;
  font-size: 18px;
  border: none;
  background-color: #fff;
  color: #020202;
  cursor: pointer;
  border-radius: 2px;
}